<%- include("templates/encabezado")%>
<h1>Bienvenido</h1>
<div>
    <button id="btnAgregarProducto" class="boton" onclick="location.href='/agregarProducto'">Agregar Producto</button>
    <button id="btnAgregarUsuario" class="boton" onclick="location.href='/agregarUsuario'">Agregar Usuario</button>
</div>
<%- include("templates/pie")%>