*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    width: 300px;
    box-shadow: 0 0 20px rgb(178, 171, 171);
    padding: 20px;
    border-radius: 7px;
    margin-top: 25px;
}
label{
    margin-top: 10px;
}
input{
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 5px;
    background-color: bisque;
    border-radius: 10px;
    outline: none;
    border: 2px solid cadetblue;
    width: 80%;
}
button{
    margin-top: 10px;
    padding: 5px;
    background-color: cadetblue;
    border: 0px;
    border-radius: 7px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: rgb(133, 202, 204);
    color: blanchedalmond;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.errorNom, .errorCel, .errorCo, .errorDes{
    font-size: small;
    color: brown;
}
.errorInput{
    background-color: rgb(167, 92, 92);
    border: 2px solid brown;
}
.xmarkErrorCorreo,.xmarkErrorCel,.xmarkErrorNom,.xmarkErrorCo,.xmarkErrorDes{
    color: brown;
}
.checkMarkCorreo,.checkMarkCel,.checkMarkNom,.checkMarkCo,.checkMarkDes{
    color: greenyellow;
}
.ocultar{
    display: none;
    visibility: hidden;
}
.correctInput{
    background-color: greenyellow;
    border: 2px solid rgb(125, 178, 125);
}